body{
    margin: 0;
    padding: 0;
    background: #eefff9 url(https://s.4cdn.org/image/fade-blue.png) top center repeat-x;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,  sans-serif;
    user-select: none;
}
/*176450484706*/
hr{
    color: rgb(220, 220, 220, 0.3);
    margin: 0;
}
.commands-header{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5vw 0.5vw;
    justify-content: start;
    align-items: center;
    margin: 0;
}
.commands-header p{
    padding: 0;
    margin: 0 0.2vw;
    color: rgba(62, 162, 0, 0.555);
    font-size: calc(0.2em + 0.8vw);
}
.commands-header .open-close-commands{
    margin: 0;
}
.commands-header a{
    color: rgb(0,78,0);
    text-decoration: none;
    font-size: calc(0.2em + 0.8vw);
}
.commands-header a:hover{
    color: red;
}
#new-post-form{
    display: none;
    flex-direction: column;
    margin-top: -0.7vw;
    margin-bottom: 1vw;
    padding: 0;
    width: 40%;

}
#usernameInput{
    display: flex;
    flex-grow: 1;
}
#new-post-form h2{
    font-size: calc(1.1vw + 0.7em);
    margin: 0vw 0 0.7vw 0 !important;
    padding: 0;
}
.form-buttons{
    padding: 0.3vw;
    cursor: pointer;
    font-size: calc(0.4vw + 0.4em);
}


.user-post{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5vw 0.1vw;
    margin: 0 0 0.5vw 0;
    border-top: 0.1vw solid rgba(82, 100, 112, 0.214);
    border-bottom: 0.1vw solid rgba(82, 100, 112, 0.214);
}
.post-data{
    display: flex;
    position: relative;
    column-gap: 0.3vw;
    height: 2vw;
    width: 100%;
    justify-content: start;
    align-items: center;
    font-weight: 600;
}
.post-data p{
    display: flex;
    color: rgb(0,78,0);
    font-size: calc(0.53vw + 0.53em);
}
.post-data a:not(.post-reply-window-but){
    display: flex;
    font-size: calc(0.53vw + 0.53em);  
    font-weight: bold;
}
.plus-minus{
    display: flex;
    height: calc(0.5em + 0.5vw);
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    cursor: pointer;
    width: auto;
}
.post-main{
    padding-top: 0.3vw;
    position: relative;
}
.post-content {
  padding: 0.8vw 1vw 0.8vw 0.8vw;
}
.post-content .post-image {
  float: left;
  width: auto;
  height: 11vw;
  object-fit: contain;
  margin-right: 1.5vw;
  margin-bottom: 0.5vw;
}
.post-content .post-text{
    margin: 0;
    width: 100%;
    font-size: calc(0.53vw + 0.53em);
    font-weight: 400;
}

.post-comment{
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 70vw;
    padding: 0vw 0.6vw 0.2vw 0.6vw;
    margin: 0.5vw 0 0 2vw;
    background: rgba(82, 100, 112, 0.084);
    border: 0.1vw solid rgba(82, 100, 112, 0.084);
}
.comments-data{
    display: flex;
    column-gap: 0.3vw;
    height: 2vw;
    width:max-content;
    max-width: 100%;
    justify-content: start;
    align-items: center;
    font-size: calc(0.53vw + 0.53em);
    font-weight: 600;
}
.comments-data p{
    display: flex;
    color: rgb(0,78,0);
}
.comments-data a{
    font-weight: bold;    
}
.comment-content{
    display: flex;
    float: left;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.5vw 0;
}
.comment-content h2{
    font-size: calc(0.25em + 1vw);
    margin: 0 0 0.75vw 0.25vw;
}
.comment-image{
    float: left;
    object-fit: contain;
    width: auto;
    height: 9vw;
}
.comment-text{
    display: flex;
    margin: 0;
    width: 100%;
    font-size: calc(0.53vw + 0.53em);
    padding: 0vw;
}
#loading-block{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
}
.loading-item{
    display: flex;
    padding: 0.5vw;
    background: white;
    border-radius: 0.5vw;
}
.loading-item img{
    display: flex;
    border-radius: 0.3vw;
    height: 7vw;
    width: auto;
}
.comment-edit-block{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.comment-text-area{
    display: flex;
    font-family: sans-serif;
    height: 3vw;
    font-size: calc(0.7vw + 0.2em);
    width: 98.4%;
    margin-top: 0.25vw;
    border: 0.1vw solid #949494;
    resize: none;
    border-radius: calc(0.25em + 0.25vw);
    outline: none;
    padding: 0.5vw;
}
.hidePublishCommentButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    cursor: pointer;
    border: 0.1vw solid #949494;
    width: 49.6%;
    font-size: calc(0.7vw + 0.2em);
    padding: 1.1vw;
    border-radius: calc(0.25em + 0.25vw);
}
.publishCommentButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    cursor: pointer;
    border: 0.1vw solid #949494;
    width: 49.6%;
    font-size: calc(0.7vw + 0.2em);
    padding: 1.1vw;
    border-radius: calc(0.25em + 0.25vw);
}
.addPhotoButton{
    border-radius: calc(0.25vw + 0.25em);
    cursor: pointer;
}
.comment-username{
    display: flex;
    font-family: sans-serif;
    outline: none;
    padding: 0.3vw;
    font-size: calc(0.7vw + 0.2em);
    height: 1vw;
    width: 98.4%;
    border: 0.1vw solid #949494;
    padding: 0.5vw;
    border-radius: calc(0.25em + 0.25vw);
}
.post-comment-edit-block{
    width: 70vw;
    background: rgb(218, 218, 218);
    margin: 1vw 0 1vw 2vw;
}
.post-id, .comment-id{
    color: rgb(0,78,0);
    text-decoration: none;
}
.comment-id{
    cursor: default;
}
.post-id:hover{
    color: firebrick;
}
.search-and-archive{
    display: flex;
    padding: 0.5vw 0.5vw;
    column-gap: 0.2vw;
}
.search-and-archive a{
    font-size: calc(0.5vw + 0.5em);
    color: rgb(0,78,0);
}
.search-and-archive a:hover{
    color: red;
}
.search-and-archive p{
    margin: 0;
    font-size: calc(0.5vw + 0.5em);
    padding: 0;
}
.search-posts-input{
    font-size: calc(0.4vw + 0.4em);
    outline: none;
}
.menu-bar{
    cursor: pointer;
    font-size: calc(0.4vw + 0.4em);
    margin-left: -0.2vw;
    margin-right: 0.3vw;
}

.big-photo-block {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}
.big-photo-item {
  display: flex;
  flex-direction: column;
  padding: 0.1vw;
  background: #E1F2ED;
  border: 0.1vw solid #a8b6b4;
  position: absolute; /* Ключевой момент */
  cursor: grab;        /* Для пользовательского UX */
}
.big-photo-item:active {
  cursor: grabbing;
}
.big-photo-item p:not(.close-big-photo){
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(0.5vw + 0.5em);
    color: black;
    padding: 0 0 0 10%;
    margin: 0;
}
.big-photo-item .close-big-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5vw;
    aspect-ratio: 1/1;
    font-size: calc(0.8vw + 0.8em);
    margin: 0vw 0 0.15vw 0;
    cursor: pointer;
}
.big-photo-item img{
    display: flex;
    height: 30vw;
    border-top: 0.1vw solid #a8b6b4;
    width: auto;
}
.post-reply-window-but{
    font-size: calc(0.35em + 0.35vw);
    cursor: pointer;
    color: rgba(82, 100, 112, 0.541);
    transition: transform 0.2s ease;
    display: inline-block;
}
.post-reply-window-but:hover{
    color: red;
}
.post-reply-window-but-container {
    position: relative;     /* Новый контейнер для точного позиционирования */
    display: inline-block;   /* Чтобы не растягивался на всю ширину */
}
.post-reply-window{
    display: flex;
    flex-direction: column;
    position: absolute;  /* Абсолютное позиционирование относительно .post-data */
    top: 110%;           /* Под кнопкой */
    left: 0;     
    z-index: 10;      /* Выравнивание по левому краю кнопки */
    min-width: max-content;     
    right: auto;           /* Отмена возможного смещения */     /* Выравнивание по левому краю */
    width: 100%; 
}
.post-reply-window button{
    display: flex;
    align-items: center;
    font-size: calc(0.35em + 0.35vw);
    border-radius: none !important;
    background: #E1F2ED;
    cursor: pointer;
    border-top: 0.1vw solid #a8b6b4;
    border-right: 0.1vw solid #a8b6b4;
    border-left: 0.1vw solid #a8b6b4;
    border-bottom: none;
    padding: 0.25vw 0.5vw;
    column-gap: 0.3vw;
}
.post-reply-window button:last-child{
    border-bottom: 0.1vw solid #a8b6b4;
}
.post-reply-window button:hover{
    background: #D0E2DF;
}
.text-edit-block button{
    display: flex;
    justify-content: center;
    width: 33.33%;
}

.settings-block {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.settings-item {
  display: flex;
  flex-direction: column;
  padding: 0.2vw 0.5vw 0vw 0.5vw;
  background: #E1F2ED;
  border: 0.1vw solid #a8b6b4;
  font-size: calc(0.5vw + 0.5em);
  position: absolute; /* Ключевой момент */
  cursor: grab;        /* Для пользовательского UX */
}
.settings-item:active {
  cursor: grabbing;
}
.settings-item h3{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: calc(0.55vw + 0.55em);
}
.settings-menu{
    display: flex;
    overflow-y: auto;
    max-height: 20vw;
}
.page-styles{
    margin: 0;
    padding: 0 0.5vw 0 0;
    list-style: none;
}
.page-styles li {
  display: flex;        /* Включаем flex-распределение */
  align-items: center;  /* Выравниваем элементы по центру вертикально */
  gap: 0.5vw;       
  font-size: calc(0.5vw + 0.5em);     /* Добавляем отступ между элементами (опционально) */
}
.page-styles li h3{
    margin: 0.3vw 0;
    font-size: calc(0.5vw + 0.5em);
}
.page-styles li input{
    display: flex;
    height: 1vw;
    aspect-ratio: 1/1;
    cursor: pointer;
}
.page-styles li p{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.close-settings{
    font-weight: 600;
    cursor: pointer;
    background: none;
    font-size: calc(0.5vw + 0.5em);
    border: none !important;
}
.settings-buts-block{
    display: flex;
    justify-content: center;
    column-gap: 0.5vw;
    margin-top: 0.8vw;
    padding-bottom: 0.8vw;
}
.settings-buts-block button{
    font-size: calc(0.4vw + 0.4em);
    cursor: pointer;
}
